/* Button Styling */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #7c5ccb;
    
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(100px);
  }
  
  /* Show button when visible */
  .scroll-to-top.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Hover effect */
  .scroll-to-top:hover {
    background-color: #9388b0;
  }
  